/*nav bar styling*/
    .navbar-logo{
        height:3em;
        width:auto;
        padding-left:1em;
    }

    .navbar-brand{
        padding-left: 20px;
    }

    .nav-link{
        font-family: 'Be Vietnam Pro';
        font-size: 1.1em;
        color:#939393;
 
    }

    .nav-link:hover{
        color: black
    }

    .nav-active{
        color: #C72A85;
        border-bottom: 3px solid;

    }

    .dropdown-item.active{
        background-color:#C72A85;
    }

/* styling "tango" text*/
    .tango-header-text{
        position: absolute;
        left:55%;
    }

    #tango-header-text-title{
        top:30%;
        font-family: "Playfair Display";
        font-weight:600;
        font-size:5em;
    }
    #tango-header-text-sub{
        top:40%;
        font-family:"Be Vietnam Pro";
        font-weight:200;
        font-size:1.6em;
    }

/* css to change with bootstrap responsive size */
@media only screen and (max-width: 1100px) {
        /* styling "tango" text*/
    .tango-header-text{
        position: absolute;
        left:55%;
    }

    #tango-header-text-title{
        top:25%;
        font-family: "Playfair Display";
        font-weight:600;
        font-size:4em;
    }
    #tango-header-text-sub{
        top:33%;
        font-family:"Be Vietnam Pro";
        font-weight:200;
        font-size:1.2em;
    }

}

/*formatting the section headers*/
h3{
    font-family:"Playfair Display";
    font-weight:600;
}

p{
    font-family:"Be Vietnam Pro";
    color:#939393;
    font-weight:100;
    font-size:1.1em;
    margin:auto;
}

/*override bootstrap list-group-item*/
.list-group-item{
   font-family:"Be Vietnam Pro";
    border: 0;
    padding:0;
}

/* css to change with bootstrap responsive size */
@media only screen and (max-width: 767px) {
    /* styling "tango" text*/
    .tango-header-text{
        position: absolute;
        left:55%;
    }

    #tango-header-text-title{
        top:22%;
        font-family: "Playfair Display";
        font-weight:600;
        font-size:2em;
    }
    #tango-header-text-sub{
        top:26%;
        font-family:"Be Vietnam Pro";
        font-weight:200;
        font-size:1em;
    }

}